@layer reset, base, tokens, recipes, utilities;

@layer base {
  :where(h1, h2, h3) {
    overflow-wrap: anywhere;
  }

  pre {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
